<h4 class = "text-center m-4">予約一覧</h4>
<div class="">
    <div class="row">
        <div class="offset-1 col-3">予約番号</div><div class="col-8">店名</div>
    </div>
    <% @reqs.each do |req|%>
        <div class="row bg-light">
            <% res = Restaurant.find(req.res_id) %>
            <div class="offset-2 col-2 text-center"><%= req.id %></div><div class="col-8"><%= link_to "#{res.name}",admin_show_path(id: req.id)%></div>
        </div>
    <% end %>
</div>