<h4 class="text-center my-5">管理画面</h4>
<div class="offset-2 col-8 mb-5">
    <div class="card card-body bg-light mb-3 ">
        <%= link_to 'ユーザー一覧',users_path, class: "text-center"%>
    </div>
    <div class="card card-body bg-light mb-3 ">
        <%= link_to '店一覧',restaurant_index_path, class: "text-center"%>
    </div>
    <div class="card card-body bg-light mb-3  ">
        <%= link_to '予約一覧',admin_index_path, class: "text-center"%>
    </div>
</div>