<div class="text-center my-4">
  <h4>登録内容</h4>
</div>
<div class="row mx-5">
  <div class="col-sm-6 offset-sm-3 text-center">
    <div class="mb-1">
    <label>名前：</label>
        <%= @user.name%>
    </div>
    
    <div class="mb-1">
    <label>電話番号：</label>
        <%= @user.email %>
    </div>
    以上の内容で登録しました！<br><br>Lineの画面からリクエストを作成し、予約を行ってください！
  </div>
</div>
